llvm/dump/*.json filter=lfs diff=lfs merge=lfs -text
llmv/dump/*.td filter=lfs diff=lfs merge=lfs -text
llvm/dump/*.td filter=lfs diff=lfs merge=lfs -text
tblgen_dump/*.td filter=lfs diff=lfs merge=lfs -text
