body, html {
    margin: 0 !important;
    padding: 0 !important;

    /* Imported by layout.erb */
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

#title-bar {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 50px;
    align-items: center;
}

#title-bar h1 {
    margin-block: 0;
}

#content {
    padding: 20px;
    box-sizing: border-box;
}

#filter-view {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
}

#filter-panel { flex: 1; }
#filter-results { flex: 4; }

#filter-panel {
    top: 0;
    position: sticky;
    align-self: flex-start; /* Fixes sticky not sticking in flexbox */

    padding: 15px;
    margin: 10px;
    border-radius: 20px;
    background-color: #FAFAFA;

    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

#filter-results .result-card {
    padding: 15px;
    margin: 30px 10px;
    border-radius: 20px;
    background-color: #FAFAFA;

    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

#filter-results .result-card .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

#filter-results .result-card .assembly-format {
    font-size: 20px;
}

#filter-results .result-card ul {
    margin-block: 0;
}

#filter-operand-table {
    margin: 0 auto;
    border-collapse: collapse;
}

#filter-operand-table tr {
    border-bottom: 1px solid rgb(213, 213, 213);
}

#filter-operand-table .checkbox-cell {
    width: 60px;
    text-align: center;
}

#filter-operand-table .label-cell {
    text-align: end;
    padding-right: 10px;
}

/* For operand highlighting */
mark {
    display: inline-block;
    padding: 1px 3px;
    border-radius: 3px;

    /* default colour - almost always overridden */
    background-color: white;
}
