<%= erb :_title_bar, locals: { title: "Architectures" } %>

<ul>
    <% @targets.each do |_, target| %>
        <li>
            <a href="/target/<%= target.name %>">
                <%= target.name %>
            </a>
        </li>
    <% end %>
</ul>
