<div id="content">
    <div id="filter-view">
        <div id="static-panel">
            <div id="title-bar" class="already-in-padded-container">
                <a href="/" id="home-link">
                    <img src="/logo.svg" alt="Archer logo" />
                </a>

                <div>
                    <h1><%= @target.title %></h1>
                    <small>
                        <a href="info">Architecture Info</a>
                    </small>
                </div>

                <% if @target.assembly_variants.length > 1 %>
                    <select id="assembly-variant-selector" onchange="window.refreshFilters()">
                        <% @target.assembly_variants.each.with_index do |name, i| %>
                            <option value="<%= i %>"><%= name %></option>
                        <% end %>
                    </select>
                <% end %>
            </div>
            
            <div id="filter-panel">
                <div id="inner-filter-panel">
                    <!-- React goes here -->
                </div>
            </div>
        </div>

        <div id="filter-view-divider"></div>

        <div id="filter-results">
            <hr id="filter-results-divider" />
            <div id="instruction-results">
                <!--
                    Magical loading indicator.
                    This will disappear the first time the results are able to refresh.
                    This also has an ID so it can be turned into an error if something goes wrong
                -->
                <div class="result-card" id="instruction-data-loading-indicator">
                    <b>Loading data...</b>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    globalThis.targetName = "<%= @target.name %>";
</script>
<script src="/js/bundle.js"></script>
