<div id="content">
    <!-- React goes here -->
</div>

<script>
    // TODO: don't want this any more
    globalThis.targetName = "<%= @target.name %>";
    globalThis.targetTitle = "<%= @target.title %>";
</script>
<script src="/js/bundle.js"></script>
